In [11]:
# import the dependencies
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [16]:
df = pd.read_csv('customer_data.csv').drop('name', axis=1)
X = df.drop('spending', axis=1)
y = df['spending']
df.head()

   age  gender    education  income   country  purchase_frequency   spending
0   42  Female  High School   53936  Slovenia                 0.9  13227.120
1   49  Female       Master   82468     Aruba                 0.6  12674.040
2   55    Male     Bachelor   56941    Cyprus                 0.3   5354.115
3   24  Female     Bachelor   60651     Palau                 0.2   2606.510
4   64    Male       Master   81884    Zambia                 0.9  18984.780

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age                 1000 non-null   int64
 1   gender              1000 non-null   object
 2   education           1000 non-null   object
 3   income              1000 non-null   int64
 4   country             1000 non-null   object
 5   purchase_frequency  1000 non-null   float64
 6   spending            1000 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 54.8+ KB

In [19]:
label_encoder = LabelEncoder()
df['education'] = label_encoder.fit_transform(df['education'])

onehot_encoder = OneHotEncoder(sparse=True, drop='first')  # drop='first' to avoid multicollinearity
categorical_vars = ['country']
encoded_features = pd.get_dummies(df[categorical_vars], drop_first=True)
df = pd.concat([df, encoded_features], axis=1)
df = df.drop(categorical_vars, axis=1)

KeyError: "None of [Index(['country'], dtype='object')] are in the [columns]"

(1000, 244)

In [ ]:
# PrepProcess

class preprocess():
    def fit(self, X, y):
        return self
    
    def transform(self, X, y):
        X.drop('name', axis=1)